#dh ul li:first-child {
	border-bottom:none;
}

#dh ul li:nth-child(5){
	border-bottom: 1px solid #0099ff;
}
#dh ul li:first-child:hover{
	border-bottom: 1px solid #0099ff;
}

h2{
	margin: 10px 0;
	height: 35px;
	line-height: 35px;
	font-size: 20px;
	border-left: 5px solid #0099FF;
	padding-left: 10px;
}
h2 a{
	float: right;
	font-size: 16px;
	line-height: 35px;
	margin-right:10px ;
	color: #0099FF;
}
h2 a:hover{
	color: red;
}

.weizhi{
	height: 24px;
	width: 1190px;
	border-bottom:1px solid #CECECE ;
	margin: 0 auto;	
	
}
.weizhi p{
	font-size: 12px;
	line-height: 24px;
}
.weizhi p a{
	color: #000000;
}
.weizhi p a:hover{
	color: #0099FF;
}
/*以上为位置*/
#weiketang{
	width: 1190px;
	margin: 0 auto;
	height: 1000px;
	/*background: pink;*/	
}
#weiketang #tit{
	margin-top: 20px;
	height: 49px;
	width: 1190px;
	border-left: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
}
#weiketang #tit li{
	float: left;
	width: 80px;
	height: 47px;
	border-top: 2px solid #dedede;
	border-right: 1px solid #cecece;
	line-height: 47px;
	font-size: 18px;
	color: #000000;
	text-align: center;	
}
#weiketang #tit .on{
	border-top: 2px solid #0099FF;
	border-bottom: 1px solid #fff;
}

.quanbu-1{
	float: left;
	margin-top: 20px;
}
.quanbu-1 li{
	width: 360px;
	height: 330px;
	
	margin-right: 30px;	
	
}
.quanbu-1 li img{
	width: 360px;
}
.quanbu-1 li p{
	font-size: 16px;
	line-height: 50px;	
	width: 360px;
	height: 50px;
	border-bottom:1px solid #cecece ;
}
.liuliang{
	width: 360px;
	margin-top: 20px;
	
}
.liuliang span{
	width: 100px;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	float: left;
}
.liuliang span img{
	width: 30px;
	float: left;
	
}
/*以上为全部往期回顾*/
.chakangengdu{
	float: left;
	margin-top: 30px;
	background: #0099FF;
	width: 1190px;
	height: 50px;
	margin: 0 auto;
	
}
.chakangengdu img{
	height: 50px;
	margin-left: 500px;
}
/*以上为查看更多*/
.zhuanjia{
	margin-top: 30px;
	width: 1190px;
	float: left;
}
.zjlm{
	float: left;
	width: 370px;
	height: 350px;
	margin-right:20px;
	background: #F1F1F1;
}

.zjlm h2{
	border-bottom: 1px solid #CECECE;
}
.jianjie{
	width: 350px;
	height: 80px;
	margin: 10px 0;
	
}
.jianjie img{
	height: 80px;
	float: left;
}
.jies{
	margin-left: 10px;
	float: left;
	height: 80px;
	width: 230px;
}
.jies a{ 
	color: #0099FF;
	font-size: 14px;
	line-height: 18px;
	
}
.jies p{
	font-size: 12px;
	width: 230px;
	height: 60px;
	overflow: hidden;
}



.bottom{
	height:220px;
	width:100%;
	background:#434343;	
	float: left;
}

.footer{
	height:220px;
	width:1190px;
	margin: 0 auto;
	font-size:12px;
	color:#F6F6F6;
}
.footer p a:hover {
	text-decoration: underline;
	
}
.footer-nav{
	height:15px;
	width:1190px;	
	line-height: 15px;
	padding: 10px 0;
	margin-right: 25px;
}
.footer-nav a {
	color:#F6F6F6;
}
.footer-nav li{
	float: left;
	width:70px;	
}
.footer-lt{
	float: left;
	width:62%;
	margin: 15px 0;
}
.footer-rt{
	float: right;
	height:220px;
	margin-left: 50px;
}
.footer-lt-b a{
	float: left;
	margin:36px 20px 0 0;
}
.footer-rt p{
	float: left;
	width:150px;	
	margin-top: 30px;	
	text-align: center;
	margin-left: 50px;
}
.footer-rt img{
	height: 150px;
	width: 150px;
	margin-bottom: 8px;
}