body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	background: #eaeff2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-size: 14px;
}

ul,
li,
p {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

font {
	font-size: 12px;
}

img,
input {
	border: 0;
}

ul,
li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #2d4c75;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}



#jiu_nav {
	width: 1349px;
	height: 271px;
	margin: 0 auto;
}

#jiu_nav01 {
	width: 1349px;
	height: 30px;
	background: #fff;
}

#jiuy_nav02 {
	width: 1000px;
	height: 30px;
	margin: 0 auto;
	position: relative;
    margin: 0 174.5px;
}

#jiu_left {
	width: 422px;
	height: 30px;
	float: left;
}

#jiu_left font {
	width: 97.72px height:30px;
	float: left;
	line-height: 30px;
	font-size: 12px;
	color: #666;
}

#jiu_left a {
	color: red;
}

#jiu_left img {
	border: 0;
	vertical-align: bottom;
}

#jiu_right {
	width: 350px;
	height: 30px;
	float: right;
	line-height: 30px;
}

#jiu_right a {
	font-size: 12px;
	color: #666;
	padding: 0 5px;
}

#jiu_right img {
	vertical-align: middle;
	position: relative;
	top: -1px;
}

#jiu_right a:hover {
	color: red;
}

#jiu_mei {
	width: 1000px;
	height: 235px;
	background: #fff;
	margin: 0 174.5px;
}

#jiu_mei01 {
	width: 1000px;
	height: 80px;
	background: #fff;
	margin: 5px 0 10px 0;
}

#jiu_mei02 img{
	width: 205px;
	height: 74px;
	float: left;
}

#jiu_chan {
	width: 300px;
	height: 79px;
	margin: 0 7px 0 3px;
	float: left;
}

#jiu_chan01 {
	width: 300px;
	height: 40px;
	margin-top: 12px;
}

#jiu_chan02 {
	width: 227px;
	height: 34px;
	border: 2px solid red;
	border-right: none;
	float: left;
}

#jiu_chan03 {
	width: 64px;
	height: 34px;
	color: #4a402f;
	text-align: center;
	z-index: 99;
	position: absolute;
	float: left;
}

#jiu_chan03 ul {
	width: 60px;
	height: 34px;
	display: block;
	list-style-type: none;
}

#jiu_chan03 li {
	line-height: 34px;
	font-size: 12px;
	border-right: 1px solid #efeae0;
	position: relative;
	padding-right: 4px;
}

.yin {
	background: #fbf9f7!important;
}

#jiu_chan03 li a {
	display: inline-block;
	position: absolute;
	top: 16px;
	background: url(../img/i_jwg.png) no-repeat;
	width: 8px;
	height: 4px;
	margin: 0 6px 0 5px;
}

#shu {
	width: 167px;
	height: 32px;
	line-height: 32px;
	border: 0;
	float: right;
	font-size: 12px;
	text-indent: 4px;
}

#jiu_sou {
	width: 68px;
	height: 40px;
	float: left;
}

#jiu_sou01 {
	width: 70px;
	height: 38px;
	background: #cc0000;
	color: #fff;
	border: 0;
	cursor: pointer;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 16px;
}

#jiu_rei {
	width: 300px;
	height: 22px;
	margin-top: 5px;
	line-height: 22px;
	color: #929292;
	font-size: 12px;
	text-align: left;
}

#jiu_rei01 a {
	color: #000;
	margin: 0 5px;
}

#jiu_rei01 a:hover {
	color: red;
}

#jiu_xiaolun {
	width: 485px;
	height: 75px;
	margin-top: 5px;
	float: right;
}

#jiu_shou {
	width: 1000px;
	height: 145px;
}

#jiu_shou01 {
	width: 1000px;
	height: 38px;
	background: url(../img/mnbg_jwg.jpg)no-repeat;
}

#jiu_shou01 li {
	float: left;
	line-height: 40px;
	font-size: 15px;
	margin-left: 18px;
	font-weight: bold;
	font-family: "宋体";
}

#jiu_shou01 a {
	text-decoration: none;
	color: #fff;
}

#jiu_shou01 a:hover {
	color: yellow;
}

#jiu_qi {
	width: 998px;
	height: 28px;
	border: 1px solid #ededed;
	background: #f6f6f6;
	margin-top: 6px;
}

#jiu_qi li {
	height: 28px;
	margin-left: 18px;
	line-height: 28px;
	float: left;
	font-size: 14px;
	font-weight: bold;
}

#jiu_qi a {
	color: #000;
	float: left;
	padding-right: 12px;
}

#jiu_qi img {
	float: left;
	margin-top: 5px;
	margin-right: 4px;
}

#jiu_qi a:hover {
	color: red;
}

#jiu_di {
	width: 848px;
	height: 20px;
	font-size: 12px;
	border: #ececec 1px solid;
	border-top: 0;
	padding: 8px 75px;
	position: relative;
}

#jiu_di01 {
	width: 57px;
	height: 19px;
	background: url(../img/dqbg_jwh.png)no-repeat;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 18px;
	position: absolute;
	left: 8px;
	padding-left: 5px;
}

#jiu_di02 {
	width: 812px;
	height: 20px;
	float: left;
}

#jiu_di02 font {
	height: 20px;
	line-height: 20px;
	background: #f4f3f3;
	float: left;
	padding: 0 10px;
	margin-right: 6px;
	font-weight: bold;
	font-size: 12px;
}

#jiu_di02 a {
	color: #000;
}

#jiu_di02 a:hover {
	color: red;
}

#jiu_di03 {
	width: 76px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	position: absolute;
	right: 8px;
	background: #fc5300;
}

#jiu_di03 a {
	color: #fff;
}

#jiu_di03 a:hover {
	color: #fff;
}

#jiu_zhuan {
	width: 1000px;
	height: 28px;
	margin: 6px auto 10px auto;
	position: relative;
}

#jiu_zhuan01 {
	position: absolute;
	width: 64px;
	text-align: center;
	color: #fff;
	background: #14a487;
	line-height: 28px;
	font-size: 12px;
}

#jiu_zhuan02 {
	float: left;
	width: 470px;
	position: relative;
	border: #ececec 1px solid;
	line-height: 26px;
	font-size: 12px;
	padding: 0 10px 0 70px;
}

#jiu_zhuan02 a {
	padding: 0 10px 0 0;
	color: #000;
	text-decoration: none;
}

#jiu_zhuan02 a:hover {
	color: red;
}

#jiu_zhuan03 {
	float: right;
	width: 422px;
	font-size: 12px;
	line-height: 28px;
}

#jiu_yong {
	width: 100px;
	line-height: 22px;
	height: 22px;
	border: #ececec 1px solid;
	margin: 0 4px;
}

#jiu_mi {
	width: 100px;
	line-height: 22px;
	height: 22px;
	border: #ececec 1px solid;
	margin: 0 4px;
}

#jiu_zhuan03 span {
	width: 129.563px;
	height: 28px;
	float: right;
}

#jiu_zhuan03 span a {
	background: #0d69f2;
	padding: 7px 9px;
	position: relative;
	top: -10px;
	color: #fff;
}
/*以上为公共头部=====================================*/
.lxwm-box{
	width: 1000px;
	margin: 20px auto;
	height: 700px;	
}
.lxwm-l{
	padding: 0 10px;
	width: 220px;
	height: 560px;
	float: left;
	background: #fff;	
}
.lxwm-l img{
	width: 220px;
}
.lxwm-l li a{
	
	display: block;
	width: 220px;
	height: 45px;
	border-bottom: 2px solid #E0E0E0;
	font-size: 18px;
	line-height: 45px;
	text-align: center;color: #555555;
}
.lxwm-l li:nth-child(3) a{
	color: red;
	border-left: 3px solid red;
}
/*============================以上为左边*/
.lxwm-r{
	padding: 20px;
	width: 710px;
	height: 660px;
	background: #fff;
	float: right;
}
.lxwm-r h2{
	margin: 10px 0;
	height: 35px;
	line-height: 35px;
	font-size: 20px;
	border-left: 5px solid #FF0000;
	padding-left: 10px;
	border-bottom: 1px solid #E3E3E3;
}
.lxfs h3{
	margin-top: 20px;
	font-size: 16px;
	color: red;
	line-height: 40px;
	border-bottom:dashed 1px #929292 ;
}
.lxfs p{
	font-size: 14px;
	line-height: 30px;
	color: #000000;
}

/*以上为联系我们内容部分==================================*/
.qyk03{
	width: 1000px;
	height: 150px;
	margin: 0 auto;
	background: #CECECE;
	margin-top: 10px;
}
.qyk03-1{
	width: 90px;
	height: 145px;
    background: #e0e0e0;
    padding: 5px 0 0px 10px;
    float: left;
}
.qyk03-1 li{
	width: 80px;
    line-height: 22px;
    font-weight: bold;
    text-align: right;
    font-size: 12px;
    border-bottom: 1px solid #CECECE;
}
.qyk03-2{
	width: 890px;
	height: 150px;
    float: left;
    padding-left: 10px;
    padding: 5px 0 0 10px;
}
.qyk03-2 li{
	line-height: 22px;
    width: 890px;
    float: left;
    text-align: left;
    font-size: 12px;
}
.qyk03-2 li a{
	width: 80px;
    display: block;
    float: left;
    color: #000000;
}
.qyk03-2 li a:hover{color: red;}
.qyk03-2 span{
	line-height: 24px;
    float: left;
    width: 890px;
    text-align: left;
}
.qyk03-2 span a{
	padding-right: 6px;
    font-size: 12px;
    color: #000000;
}
.qyk03-2 span a:hover{color: red;}
.qyk04{
	background: #f3f3f3;
    padding: 20px 0;
    margin-top: 15px;
}
.qyk04_{
	width: 1000px;
	 height: 360px;
    margin: 0 auto;
}
.qyk04-1{
	float: left;
	width:230px ;
	 height: 360px;
	/*background: aqua;*/
}
.qyk04-1-1{
	font-size: 18px;
    color: #ca0202;
    text-shadow: 0px 0px 1px #fff;
    margin-bottom: 12px;
    text-align: left;
}
.qyk04-12{
	width: 230px;
	height: 124px;
	border: 1px solid #000000;
}
.qyk04-1-2{
	margin: 0;
    padding: 0;
    font-size: 14px;
}
.qyk04-1-2 li{
	 background: #5b95f9;
    text-align: center;
    font-size: 18px;
    color: #fff;
    padding: 8px 0;
    margin-top: 8px;
    font-weight: bold
}

.qyk04-2{
	float: left;
	 width: 462px;
	 height: 360px;
    margin: 0 20px;
   /* background: antiquewhite;*/
}
.qyk04-2-1{
	font-size: 18px;
    color: red;
    text-shadow: 0px 0px 1px #fff;
    margin-bottom: 12px;
    text-align: left;
}
.qyk04-2-2{
	border-left: #e3e3e3 1px solid;
    border-right: #e3e3e3 1px solid;
    padding: 0 19px;
}
.qyk04-2-2 li{
	background: #fff;
    position: relative;
    margin-bottom: 4px;
    padding: 6px 10px;
}

.ywma {
	position: absolute;
	right: 8px;
	top: 6px;
	width: 101px;
	height: 35px;
}

.ywma .mdiv {
	position: absolute;
	z-index: 99;
	top: -65px;
	right: -180px;
	background: #d6f2f2;
	padding: 10px;
	display: none
}

.mdiv i img {
	width: 12px!important;
	height: 19px!important;
}

.ywma:hover .mdiv {
	display: block!important
}

.mdiv img {
	width: 150px;
}

.qyk04-2-2 li p{
	font-size: 16px;
    color: #444;
    line-height: 38px;
    text-align: left;
}
.qyk04-3{
	float: left;
    width: 230px;
     height: 360px;
   /* background:magenta;*/
}
.qyk04-3-1{
	font-size: 18px;
    color: #ca0202;
    text-shadow: 0px 0px 1px #fff;
    margin-bottom: 12px;
    text-align: left;
}
.qyk04-3 li{
	padding-bottom: 10px;
    border-bottom: #dcdbdb 1px solid;
    margin-bottom: 10px;
    text-align: left;
    position: relative;
}
.qyk04-3 li p{
	font-size: 14px;
    color: #2f547a;
}    
.qyk04-3 li span{
	display: block;
	font-size: 12px;
    color: #555;
    line-height: 22px;
}
/*.qyk04-3 li img{
	width: 35px;
	height: 35px;
	float: right;
	position: absolute;
	top:8px;
	right: 0;
}*/
.ewm{
	position: absolute;
    right: 60px;
    top: 8px;
    width: 35px;
    height: 35px;
}
.ewm .mdiv{
	position: absolute;
    z-index: 99;
    top: -65px;
    right: -240px;
    background: #d6f2f2;
    padding: 10px;
    display: none;
}
.ewm:hover .mdiv {
	display: block!important
}

.mdiv img {
	width: 150px;
}

/*以上为倒数第二块=============================================*/




.bottom{
	margin-top: 20px;
	height:220px;
	width:100%;
	background:#434343;	
}

.footer{
	height:220px;
	width:1190px;
	margin: 0 auto;
	font-size:12px;
	color:#F6F6F6;
}
.footer p a:hover {
	text-decoration: underline;
	
}
.footer-nav{
	height:15px;
	width:1190px;	
	line-height: 15px;
	padding: 10px 0;
	margin-right: 25px;
}
.footer-nav li a {
	color:#F6F6F6;
}
.footer-lt p a{
	color: #fff;
}
.footer-nav li{
	float: left;
	width:70px;	
}
.footer-lt{
	float: left;
	width:62%;
	margin: 15px 0;
}
.footer-rt{
	float: right;
	height:220px;
	margin-left: 50px;
}
.footer-lt-b a{
	float: left;
	margin:36px 20px 0 0;
}
.footer-rt p{
	float: left;
	width:150px;	
	margin-top: 30px;	
	text-align: center;
	margin-left: 50px;
}
.footer-rt img{
	height: 150px;
	width: 150px;
	margin-bottom: 8px;
}