html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
tr,
form,
fieldset,
legend,
input,
button,
textarea,
menu,
span,
em,
a,
form {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    border: 0;
    vertical-align: middle
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    color: #de0303;
    text-decoration: underline;
}

li {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #333333;
}

form,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 14px;
}

input,
select {
    padding: 0px;
    margin: 0px;
}

.bk_top_dh {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: url(../img/bktopbg.gif) repeat-x;
}

#loginDiv {
    display: block;
    float: right;
    width: ;
    height: 30px;
}

.bk_top_dhxq {
    margin: 0 auto;
    width: 1000px;
}

.yul {
    float: right;
    width: 210px;
    height: 30px;
}

.yul li {
    float: left;
    font-size: 12px;
}

.yul li a {
    color: #666;
    float: left;
}

.yul li a:hover {
    color: orangered;
    text-decoration: underline;
}

.yul .ya {
    float: left;
    display: block;
}

.yul .ya1 {
    display: block;
    float: left;
    margin-left: 10px;
    margin-left: 9px;
    display: inline;
}

.yul .ya2 {
    display: block;
    margin-left: 10px;
}

.bk_top_center {
    width: 100%;
    height: 133px;
    background: url(../img/centerbg.jpg) repeat-x;
}

.bk_top_dhxq {
    margin: 0 auto;
    width: 1000px;
    height: 83px;
}

.bk_logo {
    display: inline;
    float: left;
    margin: 10px 20px 3px 140px;
    width: 175px;
    height: 70px;
}

.bk_search {
    display: inline;
    margin-top: 18px;
    float: left;
    width: 419px;
    height: 33px;
}

.bk_input {
    width: 338px;
    padding-left: 5px;
    height: 34px;
    line-height: 34px;
    background: url(../img/shbg.jpg) no-repeat;
    border: #000000 0px solid;
    border: 0;
    outline: none;
}

.bk_search h3 {
    float: left;
    width: 400px;
    line-height: 26px;
    font-size: 12px;
    font-weight: normal;
    color: #707070;
}

.bk_search h3 a {
    padding: 0 5px;
    cursor: pointer;
}

.bk_menu {
    width: 1000px;
    height: 50px;
    margin: 0 auto;
}

.bk_menu ul {
    margin-left: 80px;
}

.bk_menu li {
    float: left;
    width: 87px;
    line-height: 40px;
    text-align: center;
    background: url(../img/menubg.jpg) no-repeat;
    height: 32px;
    font-size: 14px;
    font-weight: bold;
}

.bk_menu li .navbiao {
    color: #fff554;
}

.bk_menu li a {
    color: #FFFFFF;
    text-decoration: none;
}

.bk_menu li img {
    float: left;
    width: 138px;
    display: block;
}

/*以下是中间内容部分*/
.baike_css {
    width: 1000px;
    height: 1394px;
    margin: 0 auto;
}

.baike_css22 {
    width: 750px;
    float: left;
    margin-top: 10px;
}

.baike_css21 {
    width: 732px;
    float: left;
    border: 4px #77B709 solid;
}

.baike_css23 {
    width: 434px;
    float: left;
    padding: 0 0 0 10px;
    border-right: 1px #e2e3e3 dashed;
}

.baike_css23 h3 {
    font-size: 14px;
    line-height: 30px;
}

.baike_css24 {
    float: left;
    width: 180px;
    height: 128px;
    background: #de0303;
    overflow: hidden;
    position: relative
}

.baike_css24 a {
    display: block;
}

.currImg {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.baike_css25 {
    width: 220px;
    float: right;
    line-height: 20px;
    color: #666666;
    height: 126px;
    font-size: 12px;
    padding-right: 10px;
    overflow: hidden;
    position: relative;
}

.baike_css25 .baike_css25_text {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.baike_css25 div {
    display: none;
}



.baike_css25 h4 {
    font-size: 14px;
    line-height: 24px;
}

.baike_css25 a {
    color: #026acb;
}

.baike_css25 a {
    color: #026acb;
}

.baike_css40 {
    width: 434px;
    height: 46.6px;
    float: left;
    padding: 10px 0 0 0;
}

.baike_css40 .baike_css40_text {
    border: 1px solid blue;
}

.baike_css40 a {
    display: block;
}

.baike_css40 img {
    padding: 1px;
    border: 1px #e2e3e3 solid;
    float: left;
    margin-right: 10px;
}

.baike_css26 {
    width: 280px;
    float: right;
}

.baike_css26 h3 {
    line-height: 30px;
}

.baike_css27 {
    width: 280px;
    float: left;
    margin-bottom: 10px;
}

.baike_css28 {
    width: 67px;
    float: left;
}

.baike_css28 {
    padding: 1px;
    border: 1px #e2e3e3 solid;
}

.baike_css29 {
    width: 188px;
    float: left;
    padding: 0 10px;
    color: #666666;
    font-size: 12px;
    line-height: 18px;
}

.baike_css29 h4 {
    font-size: 12px;
}

.baike_css29 a {
    color: #026acb;
}

/*以下是各种小块部分*/
.baike_css30 {
    width: 740px;
    float: left;
}

.baike_css38 {
    width: 740px;
    float: left;
    margin-top: 10px;
    background: #CECECE;
    height: 80px;
}

.baike_css37 {
    width: 750px;
    float: left;
    margin-top: 10px;
}

.baike_css31 {
    width: 365px;
    height: 328.2px;
    float: left;
    margin-right: 10px;
    margin-right: 7px;
    margin-bottom: 10px;
}

.baike_css31 h3 {
    width: 355px;
    height: 28px;
    float: left;
    background: url(/images/baike_13.gif) no-repeat;
    line-height: 28px;
    padding-left: 10px;
}

.baike_css31 h3 span {
    float: right;
    padding-right: 10px;
    font-size: 12px;
    font-weight: normal;
}

.baike_css32 {
    width: 343px;
    float: left;
    padding: 10px;
    border: 1px #e2e3e3 solid;
    border-top: 0px;
}

.baike_css35 {
    width: 343px;
    float: left;
    border-bottom: 1px #e2e3e3 dashed;
    padding-bottom: 10px;
}

.baike_css33 {
    width: 94px;
    float: left;
}

.baike_css33 img {
    border: 1px #e2e3e3 solid;
    padding: 1px;
    width: 94px;
    height: 69px;
}

.baike_css34 {
    width: 235px;
    float: right;
    line-height: 18px;
    color: #666;
    font-size: 12px;
}

.baike_css34 h4 {
    font-size: 12px;
}

.baike_css34 a {
    color: #026acb;
}

.baike_css34 a {
    color: #026acb;
}

.baike_css32 ul {
    width: 100%;
    clear: both;
    padding-top: 4px;
}

.baike_css32 li {
    line-height: 24px;
    height: 24px;
    overflow: hidden;
}

.baike_css32 li span a {
    color: #026acb;
}

.baike_css31 {
    width: 365px;
    float: left;
    margin-right: 10px;
    margin-right: 7px;
    margin-bottom: 10px;
}

.baike_css31 h3 {
    width: 355px;
    height: 28px;
    float: left;
    background: url(../img/baike_13.gif) no-repeat;
    line-height: 28px;
    padding-left: 10px;
}

.baike_css31 h3 span {
    float: right;
    padding-right: 10px;
    font-size: 12px;
    font-weight: normal;
}

.baike_css32 {
    width: 343px;
    float: left;
    padding: 10px;
    border: 1px #e2e3e3 solid;
    border-top: 0px;
}

.baike_css35 {
    width: 343px;
    float: left;
    border-bottom: 1px #e2e3e3 dashed;
    padding-bottom: 10px;
}

/*以下是中间部分右侧*/
.baike_css15 {
    width: 237px;
    float: right;
    background: #f0f0f0;
    margin-top: 10px;
    padding: 0 6px 6px 6px;
    overflow: hidden;
}

.baike_css16 {
    width: 235px;
    float: left;
    border: 1px #e2e3e3 solid;
    background: #FFFFFF;
    margin-top: 8px;
}

.baike_css16 h3 {
    line-height: 32px;
    padding-left: 10px;
}

.baike_css17 {
    width: 235px;
    float: left;
    background: url(../img/baike_10.gif) no-repeat;
    padding-bottom: 7px;
}

.baike_css16 h3 span {
    font-size: 12px;
    font-weight: normal;
    float: right;
    padding-right: 10px;
}

.baike_css18 {
    width: 235px;
    float: left;
    padding-bottom: 5px;
}

.baike_css18 li {
    padding-left: 5px;
    font-size: 12px;
    float: left;
    width: 106px;
    line-height: 24px;
    display: inline;
    border: 1px #e2e3e3 solid;
    margin: 2px 0 0 3px;
    background: url(../img/baike_02.jpg) no-repeat;
}

.baike_css19 {
    width: 237px;
    float: left;
    margin-top: 8px;
    background: #CECECE;
    height: 70px;
}

/*以下是尾部照片部分*/
.rollphotos {
    WIDTH: 1000px;
    margin-top: 10px;
    height: 200px;
    float: left;
    border: 1px solid #CECECE;
}

.FixTitle {
    background: url(../img/baike_32.gif) repeat-x;
    OVERFLOW: hidden;
    LINE-HEIGHT: 30px;
    BORDER: #e2e3e3 1px solid;
    HEIGHT: 30px;
}

.FixTitle h3 {
    PADDING-LEFT: 10px;
    FONT-SIZE: 14px;
}

.rollphotos #box {
    position: relative;
    width: 1000px;
    height: 150px;
    overflow: hidden;
}

.jcarousel-skin-tango {
    overflow: hidden;
    position: relative;
    top: 0px;
    margin: 0px;
    padding: 0px;
    left: -1008px;
    width: 3460px;
}

.jcarousel-skin-tango li {
    float: left;
    list-style: outside none none;
    margin-left: 0;
    margin-right: 10px;
    width: 158px;
    height: 140px;
    text-align: center;
    display: list-item;
    margin-top: 15px;
}

.jcarousel-skin-tango li p {
    font-size: 12px;
    margin-top: 10px;
}

/*.jcarousel-skin-tango .jcarousel-container {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
    padding: 15px 40px;
    height: 140px;
    position: relative;
	display: block;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width: 920px;
    width: 916px;
    height: 140px;
}
.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 10px;
    left: 5px;
    width: 26px;
    height: 146px;
    cursor: pointer;
    background: transparent url(../img/baike_15.gif) no-repeat 0 0;
}
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 10px;
    right: 5px;
    width: 26px;
    height: 146px;
    cursor: pointer;
    background: transparent url(../img/baike_16.gif) no-repeat 0 0;
}*/
.youlian_bk {
    float: left;
    width: 1000px;
    height: 72px;
    display: inline;
    margin-top: 10px;
    font-size: 12px;
}

.baike_yl {
    background: url(../img/bk_youlian_03.gif) no-repeat scroll 0 0 transparent;
    height: 30px;
    line-height: 30px;
    text-align: right;
    width: 100%;
}

.baike_yl span {
    padding-right: 10px;
}

.yl_allabove {
    padding: 10px;
    width: 978px;
    text-align: left;
    background: #fafafa;
    border: solid 1px #e1e2e2;
    border-top: none;
    line-height: 22px;
}

.yl_allabove a {
    display: inline;
    padding: 0 4px;
}

.bk_bottom {
    width: 100%;
    /*margin-top: 10px;*/
    font-size: 12px;
}

.bk_btm_dh {
    width: 100%;
    height: 24px;
    line-height: 24px;
    color: #666;
    background: #f1f1f1;
    text-align: center;
}

.bk_btm_dh a {
    padding: 0 5px;
    color: #666;
}

.bk_btm_cont {
    width: 1000px;
    margin: 10px auto 20px auto;
    line-height: 24px;
    text-align: center;
    color: #666;
}

.bk_btm_cont img {
    display: inline-block;
}