body a{color: #000000;}
body a:hover{color: #FF0000;}



#jiu_nav {
	width: 100%;
	height: 271px;
	margin: 0 auto;
}

#jiu_nav01 {
	width: 100%;
	height: 30px;
	background: #f9f9f9;;
}

#jiuy_nav02 {
	width: 1000px;
	height: 30px;
	margin: 0 auto;
	/*position: relative margin: 0 174.5px;*/
}

#jiu_left {
	width: 422px;
	height: 30px;
	float: left;
}

#jiu_left font {
	width: 97.72px height:30px;
	float: left;
	line-height: 30px;
	font-size: 12px;
	color: #666;
}

#jiu_left a {
	color: red;
}

#jiu_left img {
	border: 0;
	vertical-align: bottom;
}

#jiu_right {
	width: 350px;
	height: 30px;
	float: right;
	line-height: 30px;
}

#jiu_right a {
	font-size: 12px;
	color: #666;
	padding: 0 5px;
}
#jiu_right .sc9928{
	padding: 0 20px
}
#jiu_right img {
	vertical-align: middle;
	position: relative;
	top: -24px;
    left: 245px;
}

#jiu_right a:hover {
	color: red;
}

#jiu_mei {
	width: 1000px;
	height: 235px;
	background: #fff;
	margin: 0 131.5px;
}

#jiu_mei01 {
	width: 1000px;
	height: 80px;
	background: #fff;
	margin: 5px 0 10px 0;
}

#jiu_mei02 img{
	width: 205px;
	height: 74px;
	float: left;
}

#jiu_chan {
	width: 300px;
	height: 79px;
	margin: 0 7px 0 3px;
	float: left;
}

#jiu_chan01 {
	width: 300px;
	height: 40px;
	margin-top: 12px;
}

#jiu_chan02 {
	width: 227px;
	height: 34px;
	border: 2px solid red;
	border-right: none;
	float: left;
}

#jiu_chan03 {
	width: 64px;
	height: 34px;
	color: #4a402f;
	text-align: center;
	z-index: 99;
	position: absolute;
	float: left;
}

#jiu_chan03 ul {
	width: 60px;
	height: 34px;
	display: block;
	list-style-type: none;
}

#jiu_chan03 li {
	line-height: 34px;
	font-size: 12px;
	border-right: 1px solid #efeae0;
	position: relative;
	padding-right: 4px;
}

.yin {
	background: #fbf9f7!important;
}

#jiu_chan03 li a {
	display: inline-block;
	position: absolute;
	top: 16px;
	background: url(../img/i_jwg.png) no-repeat;
	width: 8px;
	height: 4px;
	margin: 0 6px 0 5px;
}

#shu {
	width: 167px;
	height: 32px;
	line-height: 32px;
	border: 0;
	float: right;
	font-size: 12px;
	text-indent: 4px;
}

#jiu_sou {
	width: 68px;
	height: 40px;
	float: left;
}

#jiu_sou01 {
	width: 70px;
	height: 38px;
	background: #cc0000;
	color: #fff;
	border: 0;
	cursor: pointer;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 16px;
}

#jiu_rei {
	width: 300px;
	height: 22px;
	margin-top: 5px;
	line-height: 22px;
	color: #929292;
	font-size: 12px;
	text-align: left;
}

#jiu_rei01 a {
	color: #000;
	margin: 0 5px;
}

#jiu_rei01 a:hover {
	color: red;
}

#jiu_xiaolun {
	width: 485px;
	height: 75px;
	margin-top: 5px;
	float: right;
}

#jiu_shou {
	width: 1000px;
	height: 145px;
}

#jiu_shou01 {
	width: 1000px;
	height: 38px;
	background: url(../img/mnbg_jwg.jpg)no-repeat;
}

#jiu_shou01 li {
	float: left;
	line-height: 40px;
	font-size: 15px;
	margin-left: 18px;
	font-weight: bold;
	font-family: "宋体";
}

#jiu_shou01 a {
	text-decoration: none;
	color: #fff;
}

#jiu_shou01 a:hover {
	color: yellow;
}

#jiu_qi {
	width: 998px;
	height: 28px;
	border: 1px solid #ededed;
	background: #f6f6f6;
	margin-top: 6px;
}

#jiu_qi li {
	height: 28px;
	margin-left: 18px;
	line-height: 28px;
	float: left;
	font-size: 14px;
	font-weight: bold;
}

#jiu_qi a {
	color: #000;
	float: left;
	padding-right: 12px;
}

#jiu_qi img {
	float: left;
	margin-top: 5px;
	margin-right: 4px;
}

#jiu_qi a:hover {
	color: red;
}

#jiu_di {
	width: 848px;
	height: 20px;
	font-size: 12px;
	border: #ececec 1px solid;
	border-top: 0;
	padding: 8px 75px;
	position: relative;
}

#jiu_di01 {
	width: 57px;
	height: 19px;
	background: url(../img/dqbg_jwh.png)no-repeat;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 18px;
	position: absolute;
	left: 8px;
	padding-left: 5px;
}

#jiu_di02 {
	width: 812px;
	height: 20px;
	float: left;
}

#jiu_di02 font {
	height: 20px;
	line-height: 20px;
	background: #f4f3f3;
	float: left;
	padding: 0 10px;
	margin-right: 6px;
	font-weight: bold;
	font-size: 12px;
}

#jiu_di02 a {
	color: #000;
}

#jiu_di02 a:hover {
	color: red;
}

#jiu_di03 {
	width: 76px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	position: absolute;
	right: 8px;
	background: #fc5300;
}

#jiu_di03 a {
	color: #fff;
}

#jiu_di03 a:hover {
	color: #fff;
}

#jiu_zhuan {
	width: 1000px;
	height: 28px;
	margin: 6px auto 10px auto;
	position: relative;
}

#jiu_zhuan01 {
	position: absolute;
	width: 64px;
	text-align: center;
	color: #fff;
	background: #14a487;
	line-height: 28px;
	font-size: 12px;
}

#jiu_zhuan02 {
	float: left;
	width: 470px;
	position: relative;
	border: #ececec 1px solid;
	line-height: 26px;
	font-size: 12px;
	padding: 0 10px 0 70px;
}

#jiu_zhuan02 a {
	padding: 0 10px 0 0;
	color: #000;
	text-decoration: none;
}

#jiu_zhuan02 a:hover {
	color: red;
}

#jiu_zhuan03 {
	float: right;
	width: 422px;
	font-size: 12px;
	line-height: 28px;
}

#jiu_yong {
	width: 100px;
	line-height: 22px;
	height: 22px;
	border: #ececec 1px solid;
	margin: 0 4px;
}

#jiu_mi {
	width: 100px;
	line-height: 22px;
	height: 22px;
	border: #ececec 1px solid;
	margin: 0 4px;
}

#jiu_zhuan03 span {
	width: 129.563px;
	height: 28px;
	float: right;
}

#jiu_zhuan03 span a {
	background: #0d69f2;
	padding: 7px 9px;
	position: relative;
	top: -29px;
	right:-65px ;
	color: #fff;
}

/*==========header===========*/
.qyk{
	width: 1000px;
	height: 1308px;
	/*background: #FF0000;*/
	margin: 0 auto;
}
.qyk_1{
	width: 147px;
	height: 742px;
	background: #e00000;
	float: left;
}
.qyk_1001 img{
	width: 145px;
	height: 50px;
	/*background:lavender ;*/
}

.qyk_1002 ul li{
	float: left;
	width: 60px;
	height: 38px;
	text-align: center;
	line-height: 38px;
	background: papayawhip;
	margin: 0 6px 5px 6px;
}
.qyk_1002 ul li a{
	color:#000000
}

.qyk_2{
	width: 853px;
	height:1308px;
	/*background: lavenderblush;*/
	float: left;
	border-top: 5px solid red;
}
.qyk_2-1 {
	display: block;
	width: 845px;
	height: 35px;
	background: #FFFFFF;
	line-height: 35px;
	padding-left: 10px;
	border-bottom: 1px solid #CECECE;
	}
.qyk_2-2{
	height: 52px;
	padding: 10px 0 0 20px;}
.qyk_2-2 li{
	float: left;
    width: 119px;
    height: 52px;
    text-align: center;
    line-height: 52px;
    
}
.qyk_2-2 li a{color: #FFFFFF;}
.qyk_2001{background: #0584a9;}
.qyk_2002{background: #09a44e;}
.qyk_2003{background: #5d385d;}
.qyk_2004{background: #d95f05;;}
.qyk_2005{background:#91471f;}
.qyk_2006{background: #e29309;}
.qyk_2007{background: #CECECE;}
.qyk_2-3{
	width: 542px;
	height: 1116px;
/*	background: #A6E1EC;*/
	float: left;
	margin: 10px 10px 0 20px;
}
.qyk_2-4{
	width: 270px;
	height: 1140px;
	/*background: #09A44E;*/
	float: left;
	margin: 10px 0 0 10px;
}
.qyk_2008-1{
	width: 542px;
	height: 82px;
	background: #f5f5f5;
	margin-bottom: 10px;
}

.qyk_2008-1 img{
	float: left;
	border: 1px solid #CECECE;
	margin: 5px;
}

.qyk_2008-1  a{
	color: #000000;
	font-size: 14px;
}
.qyk_2008-1 b{
	float: right;
	margin-right: 10px;
	font-size: 14px;
}
.qyk_2008-1 p{
	margin: 10px 0  0 10px;
	font-size: 12px;
	line-height: 20px;
	text-indent: 2em;
}
.qyk_2008-1 p a{
	color: red;
}
.qyk_2009-1{
	width: 270px;
	height: 114px;
    float: left;
    text-align: center;
}
.qyk_2009-1 span{
	height: 24px;
    line-height: 24px;
}
.qyk_2-5{
	float: right;
	width: 832px;
    height: 22px;
    background: #f5f5f5;
  	padding: 10px 0;
    margin: 10px 0 8px 0;
}
.qyk_2-5 li{
	float: left;
	font-size: 14px;
	margin: 0 20px;
}
.qyk01{
	width: 1000px;
	height: 613px;
	/*background:#D9EDF7;*/
	margin: 0 auto;
	padding-top: 10px;
}
.qyk01_1{
    color: #fff;
    border-bottom: #de2828 2px solid;
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 10px;
}
.qyk01_1 span{
	background: #de2828;
    padding: 10px 15px;	
    font-size: 14px;
}
.qyk01_1 a{
	float: right;
	font-size: 14px;
	color: #000000;
}
.qyk01_1 a:hover{
	color: #ff0000;
}
.qyk01_2{
	width: 1000px;
	height: 555px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.qyk01_2-1 {
	width: 325px;
	height: 101px;
	background: #CECECE;
}
.qyk01_2-1 img{
	float: left;
	margin: 10px 0 10px 10px;
}
.qyk01_2-1 span{
	margin: 20px 0 10px 10px;
}
.qyk01_2-1 a{
	color: #000000;
}
.qyk01_2-1 p{
	margin: 10px 10px ;
	color: #666565;
    font-size: 12px;
    text-indent: 2em;
    
   
}
.qyk02{
	width: 1000px;
	height: 73px;
    margin: 0 auto;
}
.qyk02-1{
	width: 1000px;
    height: 30px;
    margin-top: 6px;
    line-height: 30px;
    text-align: right;
}
.qyk02-1 h3{
	float: left;
	background: darkred;
	color: #FFFFFF;
	width: 150px;
	text-align: center;
}
.qyk02-1 span{
	padding-right: 10px;
}
.qyk02-2{
	width: 978px;
	border-top: 2px #000000 solid;
    border-left: 1px #e1e2e2 solid;
    border-right: 1px #e1e2e2 solid;
    border-bottom: 1px #e1e2e2 solid;
    padding: 10px;
    line-height: 22px;
    text-align: left;
}
.qyk02-2 a{color: #000000;}

.qyk03{
	width: 1000px;
	height: 150px;
	margin: 0 auto;
	background: #CECECE;
	margin-top: 10px;
}
.qyk03-1{
	width: 90px;
	height: 145px;
    background: #e0e0e0;
    padding: 5px 0 0px 10px;
    float: left;
}
.qyk03-1 li{
	width: 80px;
    line-height: 22px;
    font-weight: bold;
    text-align: right;
    font-size: 12px;
    border-bottom: 1px solid #CECECE;
}
.qyk03-2{
	width: 890px;
	height: 150px;
    float: left;
    padding-left: 10px;
    padding: 5px 0 0 10px;
}
.qyk03-2 li{
	line-height: 22px;
    width: 890px;
    float: left;
    text-align: left;
    font-size: 12px;
}
.qyk03-2 li a{
	width: 80px;
    display: block;
    float: left;
    color: #000000;
}
.qyk03-2 li a:hover{color: red;}
.qyk03-2 span{
	line-height: 24px;
    float: left;
    width: 890px;
    text-align: left;
}
.qyk03-2 span a{
	padding-right: 6px;
    font-size: 12px;
    color: #000000;
}
.qyk03-2 span a:hover{color: red;}
.qyk04{
	background: #f3f3f3;
    padding: 20px 0;
    margin-top: 15px;
}
.qyk04_{
	width: 1000px;
	 height: 360px;
    margin: 0 auto;
}
.qyk04-1{
	float: left;
	width:230px ;
	 height: 360px;
	/*background: aqua;*/
}
.qyk04-1-1{
	font-size: 18px;
    color: #ca0202;
    text-shadow: 0px 0px 1px #fff;
    margin-bottom: 12px;
    text-align: left;
}
.qyk04-12{
	width: 230px;
	height: 124px;
	border: 1px solid #000000;
}
.qyk04-1-2{
	margin: 0;
    padding: 0;
    font-size: 14px;
}
.qyk04-1-2 li{
	 background: #5b95f9;
    text-align: center;
    font-size: 18px;
    color: #fff;
    padding: 8px 0;
    margin-top: 8px;
    font-weight: bold
}

.qyk04-2{
	float: left;
	 width: 462px;
	 height: 360px;
    margin: 0 20px;
   /* background: antiquewhite;*/
}
.qyk04-2-1{
	font-size: 18px;
    color: red;
    text-shadow: 0px 0px 1px #fff;
    margin-bottom: 12px;
    text-align: left;
}
.qyk04-2-2{
	border-left: #e3e3e3 1px solid;
    border-right: #e3e3e3 1px solid;
    padding: 0 19px;
}
.qyk04-2-2 li{
	background: #fff;
    position: relative;
    margin-bottom: 4px;
    padding: 6px 10px;
}

.ywma {
	position: absolute;
	right: 8px;
	top: 6px;
	width: 101px;
	height: 35px;
}

.ywma .mdiv {
	position: absolute;
	z-index: 99;
	top: -65px;
	right: -180px;
	background: #d6f2f2;
	padding: 10px;
	display: none
}

.mdiv i img {
	width: 12px!important;
	height: 19px!important;
}

.ywma:hover .mdiv {
	display: block!important
}

.mdiv img {
	width: 150px;
}

.qyk04-2-2 li p{
	font-size: 16px;
    color: #444;
    line-height: 38px;
    text-align: left;
}
.qyk04-3{
	float: left;
    width: 230px;
     height: 360px;
   /* background:magenta;*/
}
.qyk04-3-1{
	font-size: 18px;
    color: #ca0202;
    text-shadow: 0px 0px 1px #fff;
    margin-bottom: 12px;
    text-align: left;
}
.qyk04-3 li{
	padding-bottom: 10px;
    border-bottom: #dcdbdb 1px solid;
    margin-bottom: 10px;
    text-align: left;
    position: relative;
}
.qyk04-3 li p{
	font-size: 14px;
    color: #2f547a;
}    
.qyk04-3 li span{
	display: block;
	font-size: 12px;
    color: #555;
    line-height: 22px;
}
/*.qyk04-3 li img{
	width: 35px;
	height: 35px;
	float: right;
	position: absolute;
	top:8px;
	right: 0;
}*/
.ewm{
	position: absolute;
    right: 60px;
    top: 8px;
    width: 35px;
    height: 35px;
}
.ewm .mdiv{
	position: absolute;
    z-index: 99;
    top: -65px;
    right: -240px;
    background: #d6f2f2;
    padding: 10px;
    display: none;
}
.ewm:hover .mdiv {
	display: block!important
}

.mdiv img {
	width: 150px;
}
