body a:hover{color: red;}

#jiu_nav {
	width: 100%;
	height: 271px;
	margin: 0 auto;
}

#jiu_nav01 {
	width: 100%;
	height: 30px;
	background: #f9f9f9;;
}

#jiuy_nav02 {
	width: 1000px;
	height: 30px;
	margin: 0 auto;
	/*position: relative margin: 0 174.5px;*/
}

#jiu_left {
	width: 422px;
	height: 30px;
	float: left;
}

#jiu_left font {
	width: 97.72px height:30px;
	float: left;
	line-height: 30px;
	font-size: 12px;
	color: #666;
}

#jiu_left a {
	color: red;
}

#jiu_left img {
	border: 0;
	vertical-align: bottom;
}

#jiu_right {
	width: 350px;
	height: 30px;
	float: right;
	line-height: 30px;
}

#jiu_right a {
	font-size: 12px;
	color: #666;
	padding: 0 5px;
}
#jiu_right .sc9928{
	padding: 0 20px
}
#jiu_right img {
	vertical-align: middle;
	position: relative;
	top: -24px;
    left: 245px;
}

#jiu_right a:hover {
	color: red;
}

#jiu_mei {
	width: 1000px;
	height: 235px;
	background: #fff;
	margin: 0 131.5px;
}

#jiu_mei01 {
	width: 1000px;
	height: 80px;
	background: #fff;
	margin: 5px 0 10px 0;
}

#jiu_mei02 img{
	width: 205px;
	height: 74px;
	float: left;
}

#jiu_chan {
	width: 300px;
	height: 79px;
	margin: 0 7px 0 3px;
	float: left;
}

#jiu_chan01 {
	width: 300px;
	height: 40px;
	margin-top: 12px;
}

#jiu_chan02 {
	width: 227px;
	height: 34px;
	border: 2px solid red;
	border-right: none;
	float: left;
}

#jiu_chan03 {
	width: 64px;
	height: 34px;
	color: #4a402f;
	text-align: center;
	z-index: 99;
	position: absolute;
	float: left;
}

#jiu_chan03 ul {
	width: 60px;
	height: 34px;
	display: block;
	list-style-type: none;
}

#jiu_chan03 li {
	line-height: 34px;
	font-size: 12px;
	border-right: 1px solid #efeae0;
	position: relative;
	padding-right: 4px;
}

.yin {
	background: #fbf9f7!important;
}

#jiu_chan03 li a {
	display: inline-block;
	position: absolute;
	top: 16px;
	background: url(../img/i_jwg.png) no-repeat;
	width: 8px;
	height: 4px;
	margin: 0 6px 0 5px;
}

#shu {
	width: 167px;
	height: 32px;
	line-height: 32px;
	border: 0;
	float: right;
	font-size: 12px;
	text-indent: 4px;
}

#jiu_sou {
	width: 68px;
	height: 40px;
	float: left;
}

#jiu_sou01 {
	width: 70px;
	height: 38px;
	background: #cc0000;
	color: #fff;
	border: 0;
	cursor: pointer;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 16px;
}

#jiu_rei {
	width: 300px;
	height: 22px;
	margin-top: 5px;
	line-height: 22px;
	color: #929292;
	font-size: 12px;
	text-align: left;
}

#jiu_rei01 a {
	color: #000;
	margin: 0 5px;
}

#jiu_rei01 a:hover {
	color: red;
}

#jiu_xiaolun {
	width: 485px;
	height: 75px;
	margin-top: 5px;
	float: right;
}

#jiu_shou {
	width: 1000px;
	height: 145px;
}

#jiu_shou01 {
	width: 1000px;
	height: 38px;
	background: url(../img/mnbg_jwg.jpg)no-repeat;
}

#jiu_shou01 li {
	float: left;
	line-height: 40px;
	font-size: 15px;
	margin-left: 18px;
	font-weight: bold;
	font-family: "宋体";
}

#jiu_shou01 a {
	text-decoration: none;
	color: #fff;
}

#jiu_shou01 a:hover {
	color: yellow;
}

#jiu_qi {
	width: 998px;
	height: 28px;
	border: 1px solid #ededed;
	background: #f6f6f6;
	margin-top: 6px;
}

#jiu_qi li {
	height: 28px;
	margin-left: 18px;
	line-height: 28px;
	float: left;
	font-size: 14px;
	font-weight: bold;
}

#jiu_qi a {
	color: #000;
	float: left;
	padding-right: 12px;
}

#jiu_qi img {
	float: left;
	margin-top: 5px;
	margin-right: 4px;
}

#jiu_qi a:hover {
	color: red;
}

#jiu_di {
	width: 848px;
	height: 20px;
	font-size: 12px;
	border: #ececec 1px solid;
	border-top: 0;
	padding: 8px 75px;
	position: relative;
}

#jiu_di01 {
	width: 57px;
	height: 19px;
	background: url(../img/dqbg_jwh.png)no-repeat;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 18px;
	position: absolute;
	left: 8px;
	padding-left: 5px;
}
#jiu_di02 {
	width: 812px;
	height: 20px;
	float: left;
}
#jiu_di02 font {
	height: 20px;
	line-height: 20px;
	background: #f4f3f3;
	float: left;
	padding: 0 10px;
	margin-right: 6px;
	font-weight: bold;
	font-size: 12px;
}
#jiu_di02 a {
	color: #000;
}
#jiu_di02 a:hover {
	color: red;
}
#jiu_di03 {
	width: 76px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	position: absolute;
	right: 8px;
	background: #fc5300;
}
#jiu_di03 a {
	color: #fff;
}
#jiu_di03 a:hover {
	color: #fff;
}
#jiu_zhuan {
	width: 1000px;
	height: 28px;
	margin: 6px auto 10px auto;
	position: relative;
}
#jiu_zhuan01 {
	position: absolute;
	width: 64px;
	text-align: center;
	color: #fff;
	background: #14a487;
	line-height: 28px;
	font-size: 12px;
}
#jiu_zhuan02 {
	float: left;
	width: 470px;
	position: relative;
	border: #ececec 1px solid;
	line-height: 26px;
	font-size: 12px;
	padding: 0 10px 0 70px;
}
#jiu_zhuan02 a {
	padding: 0 10px 0 0;
	color: #000;
	text-decoration: none;
}
#jiu_zhuan02 a:hover {
	color: red;
}
#jiu_zhuan03 {
	float: right;
	width: 422px;
	font-size: 12px;
	line-height: 28px;
}
#jiu_yong {
	width: 100px;
	line-height: 22px;
	height: 22px;
	border: #ececec 1px solid;
	margin: 0 4px;
}
#jiu_mi {
	width: 100px;
	line-height: 22px;
	height: 22px;
	border: #ececec 1px solid;
	margin: 0 4px;
}
#jiu_zhuan03 span {
	width: 129.563px;
	height: 28px;
	float: right;
}
#jiu_zhuan03 span a {
	background: #0d69f2;
	padding: 7px 9px;
	position: relative;
	top: -29px;
	right:-65px ;
	color: #fff;
}

/*====header======*/

.rzqy{
	width: 998px;
	height: 360px;
	margin: 0 auto;
	border: 1px solid #000000
}
.rzqy01{
	width: 1000px;
	height: 784px;
	/*background: #09A44E;*/
	margin: 20px auto;
}
.rzqy01 h3{
	width: 1000px;
	height: 35px;
	border-bottom: 2px solid #de2828;
}
.rzqy01 h3 span{
	display: block;
	width: 110px;
	height: 35px;
	background:#de2828 ;
	color: #FFFFFF;
	line-height: 35px;
	text-align: center;
}
.rzqy01 ul{
	width: 1000px;
	height: 666px;
	/*background: #FFA500;*/
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.rzqy01 ul li{
	width: 325px;
	height: 101px;
	background: #f1f1f1;
	margin-top: 10px;
}
.rzqy01 ul li img{
	width: 108px;
	height: 83px;
	border: 1px solid #000000;
	float: left;
    margin: 10px;
}
.rzqy01 ul li span{
	display: block;
    font-size: 14px;
    padding: 10px 0;
    height: 22px;
    line-height: 22px;
}
.rzqy01 ul li span a{color: #000000;}
.rzqy01 ul li span a:hover{color: #FF0000;}
.rzqy01 ul li p{   
	 color: #666565;
    font-size: 12px;
    line-height: 18px;
}
.rzqy01-1{
	width: 1000px;
	height: 40px;
	background: khaki;
	margin: 20px auto;
	text-align: center;
	line-height: 40px;
}
.rzqy01-1 a{margin-right: 5px;color:#000000}
.rzqy01-1 input{width: 30px;}
.rzqy02{
	width: 1000px;
	height: 328px;
	/*background: lawngreen;*/
	margin: 0 auto;
}
.rzqy02 h3{
    border-bottom: #de2828 2px solid;
    font-size: 20px;
    line-height: 40px;
}
.rzqy02 h3 a{color: #000000;}
.rzqy02 h3 a:hover{color: #ff0000;}
.rzqy02 h3 span{
	float: right;
    font-size: 14px;
}
.rzqy02 ul{
	/*width: 1000px;
	height: 285px;*/
	border: #e5e5e5 1px solid;
    overflow: hidden;
    padding: 10px 0 5px 0;
    border-top: 0;
}
.rzqy02 ul li{
	    float: left;
    width: 300px;
    padding: 0 3px;
    line-height: 22px;
    height: 22px;
    margin-left: 12px;
    margin-bottom: 8px;
    font-size: 14px;
}
.rzqy02 ul li a{color: #000000;}
.rzqy02 ul li a:hover{color: #ff0000;}
/*=========countent=============*/
.footer{
	width: 1000px;
	height: 193px;
	margin: 10px auto;
}
.footer01{
	text-align: center;
    height: 30px;
    background: #282828;
    line-height: 30px;
    font-size: 12px;
    color: #666666;
}
.footer01 a{color: #CCCCCC;padding: 0 5px;}
.footer_beian{
	width:1000px;
	height:141px;
	text-align: center;
	background: #CECECE;
}
.footer_beian p{
	color: #000;
	line-height: 20px;
	font-size: 12px;
}

.footer_tb{
	width: 1000px;
	height: 52px;
	padding-top: 8px;
}
.footer_tb p{
	float: left;
	margin-left:375px;
	width: 250px;
	height: 47px;
}
.tp_lt{
	float: left;
}
.tp_rg{
	float: right;
}
