body{ font-size:12px; background:#f9f9f9}
.header1{
	width:1000px;
	height:215px;
	background: #00FFFF;
	margin: 0 auto;
}
.upper{
	width: 1000px;
}
.upper img{
	width: 1000px;
}


.header{
	height:100px;
	width:1000px;
	margin: 0 auto;
	background:#fff
}
.header h1{
	height:100px;
	width:250px;
	float: left;
	margin-left: 15px;
}
.header h1 img{
	height:100px;	
	
} 
.search{
	width:500px;
	height:40px;
	float: left;
	margin-top:30px;	
}
.search-tex{
	height:40px;
	width:400px; 
	border:2px solid #BB0000 ;
	outline: none;
	border-right: none;
	float: left;
}
.search-but{
	float: left;
	display: block;
	height:40px;
	width:70px;	
	color:#fff;
	background: #BB0000;
	outline: none;
	border:2px solid #BB0000;
	line-height: 40px;
	text-align: center;
}
.phone{
	float:left;
	width:200px;
	margin-top: 30px;	
}
.phone-lt{
	display: block;
	height:40px;
	width:50px;
	float: left;
}
.phone-rt{
	display: block;
	height:40px;
	width:132px;
	font-size: 12px;
	float: left;
}

/*头部*/
.content{
	width:1000px;
	height:1442px;
	background: royalblue;
	margin: 0 auto;
}
.content .content-l{
	width:696px ;
	height:1442px ;
	background: #7CFC00;
	float: left;
}
.content .content-l h2{
	height: 30px;
	line-height: 30px;
	margin-left:10px ;
	font-size: 16px;
}
.content .content-l p{
	height: 33px;
	margin: 10px 0;
	line-height: 33px;
	font-size: 16px;
	margin-left: 20px;
	border-bottom: 1px solid black;
}
.content .content-l p span{
	margin-left: 20px;
	font-size: 14px;
	
	
}
.content .content-l p span a{
	margin-left: 5px;
	padding:5px 8px 6px 8px;
	border:1px solid black ;
	border-bottom: none;
}

.content .content-l .fenye{
	width:696px ;
	height: 1270px;
	background: #666666;
}
.content .content-l .fenye li{
	height: 36px;
	width: 660px;
	line-height: 36px;
	font-size: 16px;
	background: #FF6666;
	margin-left: 10px;
}


/*   分页展示*/
.content .content-l .fenye ul{
	height: 1260px;
	background: #36AABD;
}
.content .content-l .fenye li span{
	height: 36px;
	
	float: right;
	margin-right: 20px;
	background: #7CFC00;
}



/*页码*/
.content .content-l  .yema{
	width:668px ;
	height: 44px;
	line-height: 44px;
	background: #0000FF;
	margin: 20px auto;
}
.content .content-l  .yema ul{
	margin-left: 80px;
	
}
.content .content-l  .yema li{
	float: left;
	width: 40px;
	font-size: 12px;
	text-align: center;
	
}
.content .content-l  .yema .box{
	width: 100px;
	
}
.content .content-l  .yema .box span{
	margin: 0 5px
}
.content .content-l  .yema .box input{
	width: 30px;

}
/*左*/
.content .content-r{
	width:290px ;
	height:1442px ;
	background: #7CFC00;
	float: left;
	margin-left: 12px;
}
.content-r-r1{
	height:290px;
	width:290px;
	background: #434343;
	margin-bottom: 10px;
}
.content-r-r1 img{
	height:290px ;
	width:290px;
}


.content-r-r2{
	width: 290px;
	height: 217px;
	background: #434343;
	
}
.content-r-r2 h3{
	height: 31px;
	line-height: 31px;
	text-indent: 2em;
	background: #00FFFF;
}
.content-r-r2 h3 a{
	margin-left: 150px;
}
.content-r-r2  li{
	height: 21px;
	line-height: 21px;
	
}
.img1{
	width: 290px;
	height: 80px;
	margin: 20px 0px;
	display: block;
	background: red;
}
/*右*/

/*内容*/
.footer{
	width:1000px;
	height:170px;
	background: chartreuse;
	margin: 0 auto;
}

.footer-rt img{
	display: block;
	float: left;
	height: 150px;
	width: 150px;
	padding-top: 15px;
	padding-left: 15px;
}











.qyk03{
	width: 1000px;
	height: 150px;
	margin: 0 auto;
	background: #CECECE;
	margin-top: 10px;
}
.qyk03-1{
	width: 90px;
	height: 145px;
    background: #e0e0e0;
    padding: 5px 0 0px 10px;
    float: left;
}
.qyk03-1 li{
	width: 80px;
    line-height: 22px;
    font-weight: bold;
    text-align: right;
    font-size: 12px;
    border-bottom: 1px solid #CECECE;
}
.qyk03-2{
	width: 890px;
	height: 150px;
    float: left;
    padding-left: 10px;
    padding: 5px 0 0 10px;
}
.qyk03-2 li{
	line-height: 22px;
    width: 890px;
    float: left;
    text-align: left;
    font-size: 12px;
}
.qyk03-2 li a{
	width: 80px;
    display: block;
    float: left;
}
.qyk03-2 span{
	line-height: 24px;
    float: left;
    width: 890px;
    text-align: left;
}
.qyk03-2 span a{
	padding-right: 6px;
    font-size: 12px;
	
}
.qyk04{
	background: #f3f3f3;
    padding: 20px 0;
    margin-top: 15px;
}
.qyk04_{
	width: 1000px;
	 height: 360px;
    margin: 0 auto;
}
.qyk04-1{
	float: left;
	width:230px ;
	 height: 360px;
	/*background: aqua;*/
}
.qyk04-1-1{
	font-size: 18px;
    color: #ca0202;
    text-shadow: 0px 0px 1px #fff;
    margin-bottom: 12px;
    text-align: left;
}
.qyk04-12{
	width: 230px;
	height: 124px;
	border: 1px solid #000000;
}
.qyk04-1-2{
	margin: 0;
    padding: 0;
    font-size: 14px;
}
.qyk04-1-2 li{
	 background: #5b95f9;
    text-align: center;
    font-size: 18px;
    color: #fff;
    padding: 8px 0;
    margin-top: 8px;
    font-weight: bold
}
.qyk04-2{
	float: left;
	 width: 462px;
	 height: 360px;
    margin: 0 20px;
   /* background: antiquewhite;*/
}
.qyk04-2-1{
	font-size: 18px;
    color: red;
    text-shadow: 0px 0px 1px #fff;
    margin-bottom: 12px;
    text-align: left;
}
.qyk04-2-2{
	border-left: #e3e3e3 1px solid;
    border-right: #e3e3e3 1px solid;
    padding: 0 19px;
}
.qyk04-2-2 li{
	background: #fff;
    position: relative;
    margin-bottom: 4px;
    padding: 6px 10px;
}
.qyk04-2-2 li img{
	width: 35px;
	height: 35px;
	display: block;
	float: right;
	position: absolute;
	top:8px;
	right: 0;
}
.qyk04-2-2 li p{
	font-size: 16px;
    color: #444;
    line-height: 38px;
    text-align: left;
}


.qyk04-3{
	float: left;
    width: 230px;
     height: 360px;
   /* background:magenta;*/
}
.qyk04-3-1{
	font-size: 18px;
    color: #ca0202;
    text-shadow: 0px 0px 1px #fff;
    margin-bottom: 12px;
    text-align: left;
}
.qyk04-3 li{
	padding-bottom: 10px;
    border-bottom: #dcdbdb 1px solid;
    margin-bottom: 10px;
    text-align: left;
    position: relative;
}
.qyk04-3 li p{
	font-size: 14px;
    color: #2f547a;
}    
.qyk04-3 li span{
	display: block;
	font-size: 14px;
}
.qyk04-3 li img{
	width: 35px;
	height: 35px;
	float: right;
	position: absolute;
	top:8px;
	right: 0;
}

