.header{
	height:100px;
	width:1190px;
	margin: 0 auto;
	background:#fff
}
.header h1{
	height:100px;
	width:300px;
	float: left;
	margin-left: 15px;
}
.header h1 img{
	height:100px;	
	
} 
.search{
	width:600px;
	height:40px;
	float: left;
	margin-top:30px;	
}
.search-tex{
	height:40px;
	width:400px; 
	border:2px solid #BB0000 ;
	outline: none;
	border-right: none;
	float: left;
}
.search-but{
	float: left;
	display: block;
	height:40px;
	width:70px;	
	color:#fff;
	background: #BB0000;
	outline: none;
	border:2px solid #BB0000;
	line-height: 40px;
	text-align: center;
}
.phone{
	float:left;
	width:200px;
	margin-top: 30px;	
}
.phone-lt{
	display: block;
	height:40px;
	width:50px;
	float: left;
}
.phone-rt{
	display: block;
	height:40px;
	width:132px;
	font-size: 12px;
	float: left;
}


/*搜索栏的样式完成*/



.nav{
	height:50px;
	width:1190px;
	background:#BB0000 ;
	margin: 0 auto;
	margin-top: 2px;
}
.nav-first{
	height:50px;
}
.nav-first>li{
	height: 50px;
	width:170px;
	float: left;
	text-align: center;
	line-height: 50px;	
}
/*.nav-hover{
	background:#FC5300;
	color:#F9F9F9
}*/
.nav-first>li:hover{
	background:#FC5300;
	color:#F9F9F9
}
.nav a {
	color:#Fff
}

.nav-special .nav-second-lf{
	background:#F9F9F9;
	color:#434343;
	display: block;
	background:#656665;
	height:400px;
	
}
.nav-special .nav-second-lf{
	color:#cecece
}
.nav-second li{
	height:30px;
}
.nav-second a{
	color:#434343
}
.nav-second-lf{
	display: block;
}



/*导航样式完成*/


.banner{
	height:400px;
	margin: 0 auto;
	width:1190px;
	overflow: hidden;
}
.banner img{
	margin-left:170px ;
	height: 400px;
	width: 1020px;
	display: block;
	float:left
}

/*banner图样式完成*/


.content{
	width:1190px;
	margin: 0 auto;
}
.recommend{
	height:370px;
	width: 1190px;
	background: #fff;
}
.recommend h2,.seller h2,.agent h2{
	padding-top: 5px;
	height: 54px;
	width: 1170px;	
	background: #BB0000;
	line-height: 54px;
	padding-left: 20px;
	background: url(../img/recommend-h2.jpg) no-repeat 90px; 15px;
	background-size: 25px;
	border-bottom: 3px solid #cecece;	
}
.recommend h2 span,.seller h2 a{
	display: block;
	color:#808080;
	line-height: 54px;
	font-size: 12px;
	text-align-last: right;
	float: right;
	margin-right:15px;
}
.recommend ul{
	padding-top: 35px;
	width: 1215px;
	height:226px;
	overflow: hidden;
}
.recommend ul li {
	float: left;
	margin-right:23px;
}
.recommend ul img{
	display: block;
	height: 200px;
	width: 220px;
}
.recommend ul span{
	display: block;
	width:220px;
	text-align: center ;
	font-size: 14px;
	margin-top: 10px;
}
.recommend  a {
	color:#808080;
}


/*酒的推荐部分完成*/


.seller{
	width:1190px;
	background:#fff;
	height:820px;
	overflow: hidden;
	margin-top: 8px;
}
.seller h2{
	background: none;
	margin-bottom: 20px;
}
.seller-co{
	width:1320px;
	padding-top:20px;
	overflow: hidden;
}
.seller dl{
	/* padding-top: 20px; */
	float: left;
	margin-right: 130px;
	margin-bottom: 40px;
}
.seller dl img {
	height: 280px;
	width: 310px;
}
.seller-co a{
	color:#000 ;
}
.seller-co dd{
	text-align: center
}
.seller-co dd a{
	line-height:45px;
}


/* 畅销品牌招商部分样式完成 */


.agent{
	width:1190px;
	margin-top: 8px;
	background: #FFf;
	height: 335px;
	overflow: hidden;
}
.agent h2{
	background: none;
	padding-top:10px
}
.agent-lf {
	float: left;
	width:25%;
	background:#fff;
}
.agent-lf-list{
	background: #F4FBFB;
	height: 235px;
}
.agent-lf h3{
	padding-top:30px;
	height:35px;
	line-height: 30px;
	margin-left: 35px;
}
.agent-lf  h3 a{
	font-size: 12px;
	color: #808080 ;
	float: right;
	margin-right: 10px;
	line-height:35px; ;
}
.agent-lf-list{
	height:195px;
	padding-left:10px;
	padding-top:5px
}
.agent-lf-list a{
	display: block;
	float: left;
	height: 28px;
	width:80px;
	font-size: 14px;
	margin: 5px;
	background: #FFF;
	line-height:28px ;
	text-align: center;
	color: #434343;
	border-radius: 20px;
}
.agent-lf-list a:hover{
	box-shadow: 0 2px 2px 2px #ceceaa;
	color:#F4FBFB;
	background:#4DBAEE;
}

.agent-rt{
	float: left;
	width: 890px;
	height: 198px;
	margin-top:65px;
	border: 1px solid #cecece;
	
}
.agent-rt a{
	float: left;
	margin-top:18px;
	margin-left: 46px;
	border: 1px solid #cecece;
}
