body{ margin:0; padding:0; font-size:12px; background:#eaeff2;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0; font-size:14px;}
ul,li,p{margin:0;padding:0; font-size:12px;}
font{ font-size:12px;}
img,input{border:0;}
ul,li{list-style-type:none;}
a{ text-decoration:none;color:#2d4c75;}
a:hover{ text-decoration:underline;cursor: pointer;}
#gtop{
	width:100%;
	height:85px;
	margin: 0 auto;
	background:#40465e;
}
#gtop01{
	width:1000px;
	height:85px;
	margin: 0 174.5px;
}
#gtop02{
	width:210px;
	height:65px;
	float: left;
	margin: 10px 0;
}
#gtop03{
	width:750px;
	height:41px;
	padding-top:20px;
	margin-left:40px ;
	float:left;
	display: inline;
}
#gtop04{
	background: #2c324a;
}
#gtop03 li{
	float: left;
    border-right: #585b87 1px solid;
    padding: 10px 18px;
    font-size: 16px;
    text-align: center;
}
#gtop03 li a{
	color: #fff;
	text-decoration: none;
}
#gtop03 li:hover{
	background:#2c324a;
}
#gywm_lun{
	width: 100%;
    height: 508px;
    position: relative;
}
#gywm_tu{
	display: block;
    width: 100%;
    height: 508px;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}
#gywm_tu li{
	width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
}
#gywm_tu li:nth-of-type(1){
	background: url(../img/wm_ban1_gywm.jpg) center top no-repeat;
    z-index: 800;
    display: block;
}
#gywm_tu li:nth-of-type(2){
	background: url(../img/wm_ban2_gywm.jpg) center top no-repeat;
    z-index: 800;
    display: block;
}
#gywm_tu li:nth-of-type(3){
	background: url(../img/ban1_gywm.jpg) center top no-repeat;
    z-index: 800;
    display: block;
}
#gywm_tu li:nth-of-type(4){
	background: url(../img/mp_ban1_gywm.jpg) center top no-repeat;
    z-index: 800;
    display: block;
}